.sup{
    color: orangered;
}
.email width{
    width:40%;
}
.checked {
    color: orange;
  }
.paddig h4{
    padding-bottom: 10%
}
.rating{
    padding-top: 10px;
}
.fa fa-star checked{
    height: inherit;
}
p{
    font-size: small;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    text-align:center;
    padding: 8px;
  }
  td{
      text-align:center;
      word-wrap: break-word;
  }
  /* input{
      text-align: center;
  } */
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: white ;
    color: black;
  }
  input, textarea {
      width:100%;
    
  }
  .First input{
      width:30%;
  }
  .Secound input{
      width:61.5%;
  }
  .comments{
      padding-top: 20px;
  }
  
      
    button {
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
      }
      
      .button1:hover {
        background-color: #4CAF50;
        color: white;
      }

      

  }
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  placeholder{
      font-size: small;
  }